* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #232323;
  text-align: center;
}

.container {
  max-width: 600px;
  font-size: 0; /* no space between inline-block elements*/
  margin: 0 auto;
}

.swatch {
  display: inline-block;
  padding-bottom: 30%; /*in lieu of height*/
  width: 30%;
  background-color: white;
  margin: 1.66%;
}
