/*GENERAL*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #232323;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

/*COMMON*/

.header .container .row,
.jumbotron .container .banner {
  /*Matching margins within container
  to align vertically with swatch grid*/
  margin-left: 1.66%;
  margin-right: 1.66%;
}

/*HEADER*/

.header {
  background-color: white;
}

.header .row #reset-btn {
  float: left;
}

.header .row .menu {
  float: right;
  list-style: none;
  font-size: 0; /* no space between inline-block elements*/
}

.header .row:after { /*clearfix*/
  content: "";
  display: block;
  clear: both;
}

.header .row .menu li {
  display: inline-block;
}

.header button {
  background-color: white;
  height: 50px;
  border: none;
  padding: 0 20px;
}

.header button:hover {
  color: white;
  background-color: black;
}

/*JUMBOTRON*/

.jumbotron .banner {
  min-height: calc(600px * 0.3);
  background-color: red;
  margin-top: 3.33%; /*Same top margin as swatches*/
  padding: 20px;
}

/*GALLERY*/

.gallery {
  padding-bottom: 40px;
  font-size: 0; /* no space between inline-block elements*/
}

.gallery .swatch {
  display: inline-block;
  padding-bottom: 30%; /*in lieu of height*/
  width: 30%;
  background-color: white;
  margin: 3.33% 1.66% 0;
}
